<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
	
	<!-- 외부 ~.properties 파일 위치 설정 -->
	<properties resource="config/dbInfo.properties"/>
	
	<settings>
		<!-- 자바의 camel 표기법과 db의 snake 표기법을 매핑해주는 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 필드값이 null일 때 DB 필드에 null값이 들어가는 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 객체 별칭 만들기 -->
	<typeAliases>
		<typeAlias type="com.laundry_m.mvc.vo.Adjust" alias="adjust"/>
		<typeAlias type="com.laundry_m.mvc.vo.Bank" alias="bank"/>
		<typeAlias type="com.laundry_m.mvc.vo.Book" alias="book"/>
		<typeAlias type="com.laundry_m.mvc.vo.BookLine" alias="bookLine"/>
		<typeAlias type="com.laundry_m.mvc.vo.BookState" alias="bookState"/>
		<typeAlias type="com.laundry_m.mvc.vo.BookMethod" alias="bookMethod"/>
		<typeAlias type="com.laundry_m.mvc.vo.Clothes" alias="clothes"/>
		<typeAlias type="com.laundry_m.mvc.vo.ExtraFee" alias="extraFee"/>
		<typeAlias type="com.laundry_m.mvc.vo.Fabric" alias="fabric"/>
		<typeAlias type="com.laundry_m.mvc.vo.Favorite" alias="favorite"/>
		<typeAlias type="com.laundry_m.mvc.vo.Fee" alias="fee"/>
		<typeAlias type="com.laundry_m.mvc.vo.Laundry" alias="laundry"/>
		<typeAlias type="com.laundry_m.mvc.vo.Metapay" alias="metapay"/>
		<typeAlias type="com.laundry_m.mvc.vo.PayAccount" alias="payAccount"/>
		<typeAlias type="com.laundry_m.mvc.vo.PayCategory" alias="payCategory"/>
		<typeAlias type="com.laundry_m.mvc.vo.PayLog" alias="PayLog"/>
		<typeAlias type="com.laundry_m.mvc.vo.Review" alias="review"/>
		<typeAlias type="com.laundry_m.mvc.vo.StatisticsDetail" alias="statisticsDetail"/>
		<typeAlias type="com.laundry_m.mvc.vo.StatisticsTotal" alias="statisticsTotal"/>
		<typeAlias type="com.laundry_m.mvc.vo.Users" alias="users"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="UNPOOLED">
				<property name="driver" value="${driverName}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${userName}"/>
				<property name="password" value="${userPass}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mapper/BookMapper.xml"/>
		<mapper resource="mapper/UsersMapper.xml"/>
		<mapper resource="mapper/LaundryMapper.xml"/>
		<!-- <mapper resource="mapper/MetapayMapper.xml"/> -->
		<mapper resource="mapper/ReviewMapper.xml"/>
		<mapper resource="mapper/FavoriteMapper.xml"/>
		<mapper resource="mapper/StatisticsMapper.xml"/>
	</mappers>
</configuration>
