<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="favoriteMapper">
	<resultMap type="favorite" id="favoriteMap">
		<id column="favorite_id"  property="favoriteId"/>
		<result column="user_id" property="userId"/>
		<result column="laundry_Id" property="laundryId"/>
					
		<association property="laundry" javaType="laundry">
			<id column="laundry_id" property="laundryId"/>
			<result column="laundry_name" property="laundryName"/>
		</association>	
	</resultMap>

	<!-- 찜 목록 입력 -->
	<insert id ="addFavorite" parameterType="favorite">
		insert into favorite values(FAVORITE_SEQ.NEXTVAL, #{userId}, #{laundryId})
	</insert> 
	
	<!-- 찜 목록 삭제 -->
	<delete id = "deleteFavorite" parameterType="favorite">
		delete from favorite where #{favoriteId}
	</delete>
	
	<!-- 찜 목록 회원아이디로 검색 -->
	<select id="searchFavoriteByUserId" parameterType="string" resultMap="favoriteMap">
		select f.favorite_id, f.user_id, f.laundry_id, l.laundry_name
	        from favorite f join laundry l on l.laundry_id = f.laundry_id
	        where f.user_id = #{user_id}
	        order by f.favorite_id desc
	</select>

	<!-- 찜 목록 세탁소아이디로 검색 -->
	<select id="searchFavoriteByLaundryId" parameterType="string" resultMap="favoriteMap">
		select favorite_id, user_id, laundry_id
		from favorite
		where user_id=#{userId}
	</select>
</mapper>