<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="metapayMapper">
	<resultMap type="metapay" id="metapayMap">
		<id column="metapay_id" property="metapayId"/>
		<result column="user_id" property="userId"/>
		<result column="metapay_Balance" property="metapayBalance"/>
		<result column="metapay_Password" property="metapayPassword"/>
		<result column="metapay_Date" property="metapayDate"/>
		<result column="metapay_Update_Date" property="metapayUpdateDate"/>
		
		<collection property="payAccount" ofType="payAccount">
			<id column="pay_Account_Id" property="payAccountId"/>
			<result column="metapay_id" property="metapayId"/>
			<result column="bank_Id" property="bankId"/>
			<result column="pay_Account_Number" property="payAccountNumber"/>
			<result column="pay_Account_Quit_State" property="payAccountQuitState"/>
		</collection>
	</resultMap>

	<update id="updateMetapayBalance" parameterType="map">
		update metapay
		set metapay_balance = metapay_balance + #{amount}
		where metapay_id = (select metapay_id from metapay where user_id = #{userId})
	</update>

	<insert id="payMetapay" parameterType="payLog">
		insert into pay_log
		values(pay_log_id_seq.nextval, #{metapayId}, #{payCategoryId}, null, #{payLogAmount}, systimestamp)
	</insert>
	
	<update id="deleteMetapayAccount" parameterType="payAccount">
		update pay_account
		set pay_account_quit_sate = 'T'
		where metapay_id = #{metapayId} and pay_account_id = #{payAccountId}
	</update>
	
	<select id="selectMetapayByUserId" parameterType="string" resultMap="metapayMap">
		select m.*, p.pay_account_id, p.bank_id, p.pay_account_number, p.pay_account_quit_state
		from metapay m join pay_account p
		on m.metapay_id = p.metapay_id
		where user_id = #{_parameter} and p.pay_account_quit_state = 'F'
	</select>
</mapper>