<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="metapayMapper">
	<resultMap type="metapay" id="metapayMap">
		<id column="metapay_id" property="metapayId"/>
		<result column="user_id" property="userId"/>
		<result column="metapay_Balance" property="metapayBalance"/>
		<result column="metapay_Password" property="metapayPassword"/>
		<result column="metapay_Date" property="metapayDate"/>
		<result column="metapay_Update_Date" property="metapayUpdateDate"/>
		
		<collection property="payAccount" ofType="payAccount">
			<id column="pay_Account_Id" property="payAccountId"/>
			<result column="metapay_id" property="metapayId"/>
			<result column="bank_Id" property="bankId"/>
			<result column="pay_Account_Number" property="payAccountNumber"/>
			<result column="pay_Account_Quit_State" property="payAccountQuitState"/>
		</collection>
	</resultMap>
	
	<resultMap type="payLog" id="payLogMap">
		<id column="PAY_LOG_ID" property="payLogId"/>
		<result column="METAPAY_ID" property="metapayId"/>
		<result column="PAY_CATEGORY_ID" property="payCategoryId"/>
		<result column="PAY_ACCOUNT_ID" property="payAccountId"/>
		<result column="PAY_LOG_AMOUNT" property="payLogAmount"/>
		<result column="PAY_LOG_INSERT_DATE" property="payLogInsertDate"/>
		<result column="LAUNDRY_ID" property="laundryId"/>
		
		<association property="payAccount" javaType="payAccount">
			<id column="pay_Account_Id" property="payAccountId"/>
			<result column="metapay_id" property="metapayId"/>
			<result column="pay_Account_Number" property="payAccountNumber"/>
		</association>
		
		<association property="payCategory" javaType="payCategory">
			<id column="pay_category_id" property="payCategoryId"/>
			<result column="pay_category_name" property="payCategoryName"/>
		</association>
		
		<association property="laundry" javaType="laundry">
			<id column="laundry_id" property="laundryId"/>
			<result column="laundry_name" property="laundryName"/>
		</association>
	</resultMap>

	<insert id="joinMetapay" parameterType="metapay">
		insert into metapay
		values(METAPAY_SEQ.nextval, #{userId}, 0, #{metapayPassword}, systimestamp, systimestamp)
	</insert>

	<update id="updateMetapayBalance" parameterType="map">
		update metapay
		set metapay_balance = metapay_balance + #{amount}
		where metapay_id = (select metapay_id from metapay where user_id = #{userId})
	</update>

	<insert id="payMetapay" parameterType="payLog">
		insert into pay_log
		values(pay_log_id_seq.nextval, #{metapayId}, #{payCategoryId}, null, #{payLogAmount}, systimestamp)
	</insert>
	
	<insert id="addMetapayAccount" parameterType="payAccount">
		insert into pay_account
		values(pay_account_seq.nextval, 
		<choose>
			<when test="metapayId != null">
			#{metapay_id}
			</when>
			<otherwise>
				metapay_seq.currval
			</otherwise>
		</choose>
		, #{bankId}, #{payAccountNumber}, 'F')
	</insert>
	
	<update id="deleteMetapayAccount" parameterType="payAccount">
		update pay_account
		set pay_account_quit_state = 'T'
		where metapay_id = #{metapayId} and pay_account_id = #{payAccountId}
	</update>
	
	<select id="selectMetapayByUserId" parameterType="string" resultMap="metapayMap">
		select m.*, p.pay_account_id, p.bank_id, p.pay_account_number, p.pay_account_quit_state
		from metapay m join pay_account p
		on m.metapay_id = p.metapay_id
		where user_id = #{_parameter} and p.pay_account_quit_state = 'F'
	</select>
	
	<select id="searchPayLogByMetapayId" parameterType="string" resultMap="payLogMap">
		select pl.*, pa.pay_account_number, pc.pay_category_name, l.laundry_name
		from pay_log pl left join pay_account pa
		on pl.pay_account_id = pa.pay_account_id
		left join pay_category pc
		on pl.pay_category_id = pc.pay_category_id
		left join laundry l
		on pl.laundry_id = l.laundry_id
		where pl.metapay_id = #{_parameter}
	</select>
</mapper>