<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="reviewMapper">

	<!-- 리뷰 작성 -->
	<insert id ="createReview" parameterType="review">
		INSERT INTO REVIEW	VALUES(review_seq.nextval, #{userId}, (select laundry_id from book where book_id = #{bookId}), #{bookId}, #{reviewContent}, #{reviewRate}, systimestamp ,systimestamp)
	</insert> 
	
	<!-- 리뷰 수정 -->
	<update id = "modifyReview" parameterType="review">
		update review set <!-- 수정 요소 : 리뷰내용 , 별점, 수정일-->
		review_content = #{reviewContent}, review_Rate = #{reviewRate}, review_update_date = systimestamp
		where review_id = #{reviewId} and user_id = #{userId}
	</update>
	
	<!-- 리뷰 삭제 -->
	<delete id = "deleteReview" parameterType="review">
		delete from review where review_id=#{reviewId}
	</delete>
		
	<!-- 전체 리뷰 보기 -->
	<select id = "searchReviewAll" parameterType="String" resultType="review">
		select review_id, user_id, laundry_id, book_id, review_content, review_rate, review_insert_date, review_update_date
		from review
		order by review_insert_date desc
	</select>
	
	<!-- 유저 아이디로 리뷰 검색 /회원이 작성한 리뷰 보기 -->
	<select id = "searchReviewByUserId" parameterType="string" resultType="review">
		select review_id, user_id, laundry_id, book_id, review_content, review_rate, review_insert_date, review_update_date
		from review where user_id=#{userId}
		order by review_insert_date desc
	</select>
	
	<!-- 점포 아이디로 리뷰 검색 -->
	<select id = "searchReviewByLaundryId" parameterType="string" resultType="review">
		select review_id, user_id, laundry_id, book_id, review_content, review_rate, review_insert_date, review_update_date
		from review 
		where laundry_id=(select laundry_id from laundry where user_id = #{userId})

	</select>
	
	<!-- 예약 번호로 리뷰 검색 -->
	<select id = "searchReviewByBookId" parameterType="review" resultType="review">
		select *
		from review where book_id=#{bookId} and user_id=#{userId}
		order by review_id desc
	</select>
	
	<!-- 리뷰 번호로 리뷰 검색 -->
	<select id = "searchReviewByReviewId" parameterType="string" resultType="review">
		select review_id, user_id, laundry_id, book_id, review_content, review_rate, review_insert_date, review_update_date
		from review where review_id=#{reviewId}
		order by review_insert_date desc
	</select>
	

</mapper>